<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=dLBK5yBv7A">
<link rel="icon" type="image/png" href="/favicon-32x32.png?v=dLBK5yBv7A" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-16x16.png?v=dLBK5yBv7A" sizes="16x16">
<link rel="manifest" href="/manifest.json?v=dLBK5yBv7A">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=dLBK5yBv7A" color="#5bbad5">
<link rel="shortcut icon" href="/favicon.ico?v=dLBK5yBv7A">
<meta name="theme-color" content="#ffffff">
