nav > ul {
  z-index: 8000;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  margin: 0;
  border: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  color: white;
  text-decoration: none;
}
nav > ul > li > a::after {
  content: "\00A0|\00A0";
}
nav > ul > li:last-child > a::after {
  content: "";
}

#toggleMenu {
  display: none;
}

@media screen and (max-width: 640px) {
  @toggleMenuHeight: 60px;
  
  nav {
    position: fixed;
    bottom: @toggleMenuHeight;
    right: 0;
    display: none;
    z-index: 20;
  }

  nav.displayed {
    display: block;
  }
  
  #toggleMenu {
    .darkBox;
    .smallPadding;
    position: fixed;
    border: 0;
    bottom: 0;
    right: 0;
    font-size: 2em;
    text-align: center;
    width: @toggleMenuHeight;
    height: @toggleMenuHeight;
  }
}