.algolia {
  display: none;
  font-family: "Open Sans", sans-serif;
  position: fixed;
  right: 0.5rem;
  top: 0.5rem;
  width: 20rem;
  z-index: 10;
}

@media screen and (max-width: 640px) {
  .algolia {
    width: calc(100vw - 1rem);
  }
}

.algolia__input {
  align-items: center;
  display: flex;
}

.algolia__logo {
  height: 2.5rem;
  margin-right: 0.5rem;
}

.algolia__search {
  border-radius: 5px;
  border: 0;
  flex: 1 1;
  line-height: 1.5rem;
  margin: 0;
  padding: 0.5rem;
}

.algolia__results {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.algolia__results--not-found {
  text-align: center;
}

.algolia__results--error {
  color: tomato;
  text-align: center;
}

.algolia__results.active {
  margin-top: 0.5rem;
}

.algolia__results li {
  background-color: white;
  cursor: pointer;
  min-height: 1.5rem;
  padding: 0.5rem;
  width: 100%;
}

.algolia__results li:first-of-type {
  border-radius: 5px 5px 0 0;
}

.algolia__results li:last-of-type {
  border-radius: 0 0 5px 5px;
}

.algolia__results li em {
  background-color: yellowgreen;
}

.algolia__results li:focus,
.algolia__results li:hover,
.algolia__results li.selected {
  background-color: whitesmoke;
  outline: none;
}

.active {
  display: block;
}
