body,
nav {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Nue", sans-serif;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

.reveal section h1 {
  font-size: 5rem;
}

.reveal section h2 {
  font-size: 4rem;
}

.reveal section h3 {
  font-size: 3rem;
}
